{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="text-center">Dish Types</h3>
            <form action="" method="get" class="form-inline mx-auto d-flex">
              {{ search_form|crispy }}
              <input class="btn btn-outline-secondary" type="submit" value="🔎">
            </form>
            <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-sm btn-success">Create</a>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Dishes</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for dish_type in dish_type_list %}
                  <tr>
                    <td>
                        {{ dish_type.name }}
                    </td>
                    <td>{{ dish_type.dishes.count }}</td>
                    <td>
                      <a href="{% url 'kitchen:dish-type-detail' pk=dish_type.pk %}" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">No dish types found.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="row justify-content-center">
              <div class="col-lg-4 text-center">
                {% include "includes/pagination.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}